<%- include("partials/header") -%>

<h1>About</h1>
<p>Phill Aelony is a developer in Dallas Texas. To learn more about Phill or this website please visit <a href="https://www.phillaelony.com">www.phillAelony.com</a></p>

<%- include("partials/footer") -%>
